* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#board {
  position: relative;
  width: 1024px;
  height: 863px;
  margin: auto;
  background: url(./board.jpg) no-repeat;
}

.grid {
  display: grid;
  width: 66%;
  height: 78%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  position: absolute;
  top: 98px;
  left: 170px;
}

.hit{
  background: url(./ship.png) no-repeat center center;
}

.miss{
  background: url(./miss.png) no-repeat center center;
}


#messageArea {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(83, 175, 19);
  font-size: 3rem;
}

form {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(83, 175, 19);
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
}

form > *{
  padding:.3rem;
}

input {
  display: block;
  background-color: rgb(148, 230, 89);
  border: none;
  font-size: 1em;
  
}

button {
  border: none;
  display: block;
  background-color: rgb(148, 230, 89);
}
